binance-connector==1.5.0
blinker==1.4
constantly==15.1.0
cryptography==37.0.1
cycler==0.11.0
dj-database-url==0.5.0
Django==4.0.4
django-crispy-forms==1.14.0
django-heroku==0.0.0
djangorestframework==3.11.0
fonttools==4.33.3
google-pasta==0.2.0
gunicorn==20.1.0
hyperlink==21.0.0
incremental==21.3.0
joblib==1.1.0
keras==2.8.0
kiwisolver==1.4.2
lxml==4.8.0
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
pandas==1.4.0
pandas-datareader==0.10.0
pandas-ta==0.3.14b0
Pillow==9.1.0
protobuf==3.19.4
psycopg==3.0.14
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
scikit-learn==1.0.2
service-identity==21.1.0
sklearn==0.0
sqlparse==0.4.2
termcolor==1.1.0
threadpoolctl==3.1.0
Twisted==21.2.0
txaio==22.2.1
unicorn==1.0.3
whitenoise==6.1.0
