{% extends "core/base.html" %}

{% load static %}

{% block content %}

<!-- Heading -->

    <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/lstm.png' %}" alt="" style="width: 570px; height: 470px">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Predicción del precio del Bitcoin usando LSTM con Keras y Tensorflow  </span>
            <span class="section-heading-lower"> Mejores activos </span>
          </h2>
          <p class="mb-3">En el mundo del análisis de datos, las redes neuronales son sistemas usados para predecir, clasificar, o encontrar patrones en la data, diseñados de una manera similar a cerebros humanos.
          </p>

        </div>
      </div>
    </div>
  </section>

    <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/prediccion3m.png' %}" alt="" style="width: 570px; height: 430px">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">El trading se trata de saber cuando comprar y vender activos, así que necesitamos usar nuestras predicciones para tomar decisiones.  </span>
            <span class="section-heading-lower"> Predicciones en tiempo real </span>
          </h2>
          <p class="mb-3">Boty puede predecir el precio de las siguiente hora utilizando para cada 3 minutos las 20 observaciones anteriores.
          </p>

        </div>
      </div>
    </div>
  </section>

<!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">SUBSCRÍBETE A NUESTRO</span>
                <span class="section-heading-lower">INFORME SEMANAL</span>
              </h2>
              <p class="mb-0">Empieza a generar ganancias con nuestro análisis técnico de criptomonedas semanales, allí podrás identificar las mejores opciones de los activos digitales principales del coinmarketcap con potencial que identificamos para ti</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}



