{% extends "core/base.html" %}

{% load static %}

{% block content %}

<!-- Heading -->

    <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/mejores_activos.jpg' %}" alt="" style="width: 650px; height: 600px">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Generamos para ti un amplio resumen del analisis tecnico y fundamental </span>
            <span class="section-heading-lower"> Mejores activos </span>
          </h2>
          <p class="mb-3">Usando la ciencia de datos podemos analizar de forma rapida y precisa grandes bancos de datos para generar los informes semanales de inversion de boty
          </p>

        </div>
      </div>
    </div>
  </section>

    <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/mejores_activos.jpg' %}" alt="" style="width: 650px; height: 600px">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Generamos para ti un amplio resumen del analisis tecnico y fundamental </span>
            <span class="section-heading-lower"> Mejores activos </span>
          </h2>
          <p class="mb-3">Usando la ciencia de datos podemos analizar de forma rapida y precisa grandes bancos de datos para generar los informes semanales de inversion de boty
          </p>

        </div>
      </div>
    </div>
  </section>

<!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">SUBSCRÍBETE A NUESTRO</span>
                <span class="section-heading-lower">INFORME SEMANAL</span>
              </h2>
              <p class="mb-0">Empieza a generar ganancias con nuestro análisis técnico de criptomonedas semanales, allí podrás identificar las mejores opciones de los activos digitales principales del coinmarketcap con potencial que identificamos para ti</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}



