{% extends "core/base.html" %}

{% load static %}

{% block content %}

<!-- Heading -->
 <section id="section1" class="section section1", style="color:#FFFFFF">
   <div class="container">
      <div class="container">
        <h2 class="section-title">¿Quiénes somos?</h2>
          <h5 class="para-title mt-32">Misión</h5>
            <p class="para-text">Proporcionar información de calidad a los nuevos inversionistas 	de todo el mundo que buscan un activo digital que sea rentable para inversión a mediano o largo plazo.</p>
            <p class="para-text mt-32">Creamos Boty con la pasión de ayudar a los criptocreyentes a alcanzar sus sueños y su libertad.</p>
            <h5 class="para-title mt-48">Visión</h5><p class="para-text">Ser una herramienta para los nuevos inversores en la toma de desciones</p>
      </div>
   </div>
   <div class="container">
     <div class="container">
       <h5 class="para-title">Valores</h5>
        <p class="para-text">Te escuchamos, te cuidamos y mejoramos constantemente. Nuestro objetivo es revolucionar la industria fusionando lo mejor de las criptomonedas y el analisis de datos.</p>
        <p class="para-text">Nuestra plataforma innovadora, y fácil de usar ha sido diseñada desde cero</p>
      </div>
   </div>
   <div class="container">
     <div class="container">
       <h5 class="para-title">Basado en <em>valores centrados en el cliente</em></h5>
        <p class="para-text">Nos esforzamos por proporcionar una experiencia de trading y señales profesional, intuitiva e innovadora para nuevos clientes que estan buscando informacion de calidad para operar con activos digitales</p>
     </div>
     <div class="container">
       <h5 class="para-title">Altamente <em>comprometidos</em></h5>
        <p class="para-text">Estamos comprometidos con la creación de un entorno de intercambio justo, transparente y eficiente.</p>
      </div>
   </div>
 </section>

<!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">SUBSCRÍBETE A NUESTRO</span>
                <span class="section-heading-lower">INFORME SEMANAL</span>
              </h2>
              <p class="mb-0">Empieza a generar ganancias con nuestro análisis técnico de criptomonedas semanales, allí podrás identificar las mejores opciones de los activos digitales principales del coinmarketcap con potencial que identificamos para ti</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}



