{% extends "core/base.html" %}

{% load static %}

{% block content %}

<!-- Heading -->
<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/invertir.jpg' %}" alt="" style="width: 650px; height: 600px">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Te ayudamos a tomar las mejores deciciones para  </span>
            <span class="section-heading-lower"> Invertir en criptomonedas y NFTs</span>
          </h2>
          <p class="mb-3">La criptomoneda es un activo digital en forma de dinero que se basa en la tecnología blockchain.
          </p>

        </div>
      </div>
    </div>
  </section>
<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/principal.jpg' %}" alt="" style="width: 650px; height: 600px">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Operaciones basadas en datos y tendencias de criptomonedas. </span>
            <span class="section-heading-lower"> Boty / Valyout </span>
          </h2>
          <p class="mb-3">Un bot de trading y señales pueden ayudar a mitigar algunos de los factores de riesgo de las pérdidas.
          </p>

        </div>
      </div>
    </div>
  </section>

   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/telegram.jpg' %}" alt="" style="width: 650px; height: 600px">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Recibe señales de compra o venta de criptomonedas en </span>
            <span class="section-heading-lower"> telegram </span>
          </h2>
          <p class="mb-3">Unete de forma gratuita a nuestro bot de señales y recibe en tiempo real las mejores oportunidades del mercado segun nuestra estrategia de traiding
          </p>

        </div>
      </div>
    </div>
  </section>

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/prediccion.png' %}" alt="" style="width: 650px; height: 500px">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Basados en el analisis de datos y redes neuranales accede a nuestro </span>
            <span class="section-heading-lower"> Modelo de predcción</span>
          </h2>
          <p class="mb-3">Cada hora actualizamos nuestro modelo para generar una prediccion de accion del precio de las principales criptomonedas
          </p>

        </div>
      </div>
    </div>
  </section>

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/freemium.jpg' %}" alt="" style="width: 650px; height: 600px">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Realiza el registro y </span>
            <span class="section-heading-lower"> Accede ahora </span>
          </h2>
          <p class="mb-3">Podras ver las predicciones y las ultimas señales generadas por Boty y obtener informacion de calidad para tomar descciones
          </p>

        </div>
      </div>
    </div>
  </section>

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/mejores_activos.jpg' %}" alt="" style="width: 650px; height: 600px">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Generamos para ti un amplio resumen del analisis tecnico y fundamental </span>
            <span class="section-heading-lower"> Mejores activos </span>
          </h2>
          <p class="mb-3">Usando la ciencia de datos podemos analizar de forma rapida y precisa grandes bancos de datos para generar los informes semanales de inversion de boty
          </p>

        </div>
      </div>
    </div>
  </section>

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/redes.jpg' %}" alt="" style="width: 650px; height: 600px">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Unete a nuestra comunidad y siguenos en todas nuestras </span>
            <span class="section-heading-lower"> Redes sociales </span>
          </h2>
          <p class="mb-3">Encuentra el mejor contenido sobre inversiones en el mundo de las criptomonedas y los NFTs
          </p>

        </div>
      </div>
    </div>
  </section>

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/premium.jpg' %}" alt="" style="width: 650px; height: 600px">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Visita nuestra tienda y obten tu  </span>
            <span class="section-heading-lower"> Subscripcion premium a boty </span>
          </h2>
          <p class="mb-3">Boty hace trading de criptomonedas integrándose a tu cuenta del los exchange Binance mediante API
          </p>

        </div>
      </div>
    </div>
  </section>

<!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">SUBSCRÍBETE A NUESTRO</span>
                <span class="section-heading-lower">INFORME SEMANAL</span>
              </h2>
              <p class="mb-0">Empieza a generar ganancias con nuestro análisis técnico de criptomonedas semanales, allí podrás identificar las mejores opciones de los activos digitales principales del coinmarketcap con potencial que identificamos para ti</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}



